.wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
    background-color: #f3f3f7;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #f3f3f7;
    padding: 20px;
    margin-left: 30px;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-header{
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar-header img{
  height: 120px;
  margin: 0;
}

.list a {
  text-decoration: none;
  color: #333333;
}

.list a:hover{
  color: $primary;
}

.list button{
  background-color: transparent;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  width: 200px;
}

.list button:hover{
  background-color: white;
}

.coworspace {
  width: 200px;
  position: absolute; left: 0; bottom: 0;
  margin: 10px;
}

.coworspace img{
  width: 40px;
  margin-bottom: 10px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 200px;
  text-align: center;
}

.space-photo {
  height: 200px;
}

.navigation{
  height:350px;
  width: 200px;
  line-height: 50px;
  font-size: 20px;
}

.fa-cloudscale{
  color: gray;
  font-size: 26px;
}

.fa-cloudscale:hover{
  color: $primary;
}

.fa-building{
  color: gray;
  font-size: 26px;
}

.fa-building:hover{
  color: $primary;
}

.fa-address-book{
  color: gray;
  font-size: 26px;
}

.fa-address-book:hover{
  color: $primary;
}

.fa-file-archive{
  color: gray;
  font-size: 26px;
}

.fa-file-archive:hover{
  color: $primary;
}


.stats {
  width: 90%;
}

.stat{
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  border-radius: 8px;
}

.top-stat{
  background-color: white;
  height: 160px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.bottom-stat{
  background-color: white;
  height: 350px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 8px;
  overflow: scroll;
}

.stat-header {
  font-size: 24px;
  padding: 5px;
}

.stat-category{
  height: 150px;
  border-right: solid 2px #f3f3f7;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendar {
  margin: 5px;
}

.graph {
  padding: 20px;
}

.header-number{
  color: $primary;
}

.number {
  font-size: 32px;
}

.no-border{
  border-right: none;
}

// FullCalendar
.fc-content {
  background-color:#A68FD0;
  color: white;
  border-radius: 10px !important;
  padding-left: 4px !important;
}

.fc td {
  padding: 2px !important;
}

.fc-event, .fc-event-dot {
  background-color:#A68FD0 !important;
}
.fc-event {
  border: 1px solid #A68FD0 !important;
  border-radius: 10px !important;
}

.fc-button-primary {
    color: #fff;
    background-color: #bbbbbb  !important;
    border-color: #bbbbbb !important;
}

// Bookings #index

.status-bookings{
  width: 100px;
  font-size: 24px;
}

.resa{
  width :80%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.notification {
  background-color: rgb(238, 82, 83);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white
}




