section {
  width: 100%;
  display: table;
  max-width: none;
  height: 100vh;
}

.intro {
  background-image: asset-url('banner.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #5134A2;
  font-weight: bold;
}

