#show-space {
  background-color: #9bc8fa;
}

// CSS présent sur tout la page
.border-bottom {
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
}
li {
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}

// SPACES RULES
// -> Container
.space-rules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 11em));
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

// SPACES AMENITIES
.space-amenities {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(11em, 11em));
}

.space-amenitie {
  padding: 10px 14px 2px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

// -> icones
.fa-check-circle {
  color: #58b368;
}

.fa-times-circle {
  color: #ee4540;
}

.fa-star {
  color: #f29c33;
  padding-left: 5px;
}

.far {
  margin-right: 7px;
}
.fa-globe-africa,
.fa-clock,
.fa-laptop {
  color: #5134a2;
  font-size: 50px;
  margin-bottom: 20px;
}

// MAP

// REVIEWS
.reviews-header {
  color: #f29c33;
  font-weight: bold;
}

.review-user {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: white;
  width: 23em;
  font-size: 16px;
}

// Map + form
.formulaire-booking {
  margin-top: 120px;
}

// index résa
.full-screen {
  min-height: calc(100vh - 190px);
}
