// CSS présent sur tout la page

.border-bottom {
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
}
li {
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}

// SPACES RULES
// -> Container
.space-rules {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
  margin-bottom: 24px;
}

// SPACES AMENITIES
.space-amenities {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
  margin-bottom: 24px;
}

.space-amenitie {
  border: 1px solid #d9dadb;
  padding: 10px 14px 2px;
  border-radius: 4px;
  float: left;
  width: 100%;
}

// -> icones
.fa-check-circle {
  color: #58b368;
}

.fa-times-circle {
  color: #ee4540;
}

.fa-star {
  color: #f29c33;
  padding-left: 5px;
}

.far {
  margin-right: 7px;
}
.fa-globe-africa,
.fa-clock,
.fa-laptop {
  color: #5134a2;
  font-size: 50px;
  margin-bottom: 20px;
}

// MAP

// REVIEWS
.reviews-header {
  color: #f29c33;
  font-weight: bold;
}
.reviews {
  margin-bottom: 5px;
}

// Map + form
.formulaire-booking {
  margin-top: 120px;
}

// index résa
.full-screen {
  min-height: calc(100vh - 190px);
}
