<li class="nav-item dropdown">
  <% if current_user.avatar.file.nil? %>
    <button class="nav-item dropdown btn avatarUser mx-2" type="button">
      <%= image_tag "fallback/userAvatarDefault.png", class: "rounded-circle  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
	    <%= render partial: "shared/navdropdown", current_user: current_user %>
	  </button>
	<% else %>
	  <button class="nav-item dropdown btn avatarUser mx-2" type="button">
	    <%= cl_image_tag current_user.avatar, class: "rounded-circle  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
			<%= render partial: "shared/navdropdown", current_user: current_user %>
	  </button>
	<% end %>
</li>