<footer>
<div class="footer">
  <div class="content_footer">
    <div class="first_element">
    <h4><strong>COWORKSPACE</strong></h4>
  </div>
  <div class="second_element d-flex justify-content-around columns">
    <div class="about footer_about">
      <p class="title-footer"> <strong>About Us</strong> </p>
      <p>Compagny</p>
      <p>Careers</p>
      <p>Privary</p>
      <p>Terms</p>
      <p>contact@coworkspace.com</p>
    </div>
    <div class="contact footer_about">
      <p class="title-footer"> <strong>Services</strong> </p>
      <p>FAQs</p>
      <p>Contact Us</p>
      <p>Blog</p>
    </div>
    <div class="newsletter footer_about">
      <p class="title-footer"><strong>Get Update & Offers</strong></p>
      <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Receive our Newsletter</label>
        <input type="email" class="form-control form-newsletter" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
        <button type="submit" class="btn-nl-blue btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="third_element footer-links d-flex justify-content-center">
    <p card="follow"> <strong>Follow Us !</strong> </p>
    <div class="icones">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="four_element footer-copyright">
    <p>Find the desk you'll <i class="fas fa-heart"></i> with COWORK SPACE!</p>
  </div>
  </div>

</div>
</footer>
