<div class="footer">
  <div class="content_footer">
    <div class="first_element">
    <h2 style="color: white"><strong>COWORKSPACE</strong></h2>
  </div>
  <div class="second_element d-flex justify-content-around columns pt-2">
    <div class="about footer_about">
      <h5 class="title-footer"> <strong>About Us</strong> </h5>
      <p>Compagny</p>
      <p>Careers</p>
      <p>Terms</p>
      <p>contact@coworkspace.com</p>
    </div>
    <div class="contact footer_about">
      <h5 class="title-footer"> <strong>Services</strong> </h5>
      <p>FAQs</p>
      <p>Contact Us</p>
      <p>Blogs</p>
    </div>
    <div class="newsletter footer_about">
      <h5 class="title-footer"><strong>Get Update & Offers</strong></h5>
      <form>
      <div class="form-group" style="color: white">
        <label for="exampleInputEmail1">Receive our Newsletter</label>
        <input type="email" class="form-control form-newsletter" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
        <button type="submit" class="btn-nl-blue btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="third_element footer-links d-flex flex-column justify-content-center pt-5 ">
    <h5 class="my-2"> <strong>Follow Us !</strong> </h5>
    <div class="icones d-flex justify-content-center my-2">
      <a href="#"><i class="fab fa-github " ></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="four_element footer-copyright mt-0">
      <p>Made with <i class="fas fa-heart"></i> | CoworkSpace © 2020</p>
    </div>
  </div>

  </div>

</div>
