<footer>
<div class="footer">
  <div class="footer_contacts">
    <p> <strong>Contact Us</strong> </p>
    <p>+33 4 91 23 45 67</p>
    <p>contact@coworkspace.com</p>
  </div>
  <div class="footer-links">
    <p> <strong>Follow Us</strong> </p>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Find the desk you'll <i class="fas fa-heart"></i> with COWORK SPACE!</p>
  </div>
</div>

</footer>
