<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
          <div class="image-cropper">
          <%= cl_image_tag @owner.spaces.first.photo, width: 150, crop: :fill %>
          </div>
            <h3><%= @owner.name %> </h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">My Space</a>


                </ul>
            </li>

            <li>
                <%= link_to "My bookings", owner_space_reservations_path(current_owner, :space_id) %>
            </li>
            <li>
                <a href="#">Rapports</a>
            </li>
            <li>
                <a href="#">Je sais plus</a>
            </li>
        </ul>
    </nav>


    <div class="stats">
      <div class="row justify-content-around">
        <div class=" stat col-lg-3">
        </div>
        <div class=" stat col-lg-3">
        </div>
        <div class=" stat col-lg-3">
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="stat col-lg-5"></div>

        <div class="stat col-lg-5"></div>
      </div>

      <div class="row justify-content-around">
         <div class="stat col-lg-11"></div>
      </div>
    </div>
</div>
