<section class="intro">
  <div class="content">
    <h1>Première section = search</h1>
    <p>The height is set to 90vh, that means 90% height.</p>
 </div>
</section>

<section class="about">
  <div class="content">
    <h1>Seconde section = about us</h1>
    <p>The height is set to 90vh, that means 90% height.</p>
 </div>
</section>
