.alert {
  position: fixed;
  bottom: 600px;
  right: 200px;
  z-index: 1000;
}

.paiement {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 5px auto;
  background-color: #2eb872;
  border-radius: 5px;
}

