.btn-custom {
  color: white;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}

.btn-home-search{
  background: #FE3551;
  box-shadow: 3px 3px 0px #651336;
  border-radius: 30px;
  border: none;
  color: #080808;
  font-weight: 600;
}



.btn-custom-gradient {
  background-image: linear-gradient(to right, #E47097, #F8A348);
}

.btn-custom-gradient-purple {
  background-image: linear-gradient(to right, #6F54DF, #501EA5);
}

.btn-custom-gradient-orange {
  background-image: linear-gradient(to right, #F9B139, #F9972A);
}

.btn-outline-custom {
  color: black;
}

.btn-custom:hover {
  transform: translateY(-7px);
}

.button-resa-book {
  background-image: linear-gradient(to right, #E47097, #F8A348);
  border-radius: 20px;
}

.button-resa-book:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(+4px);
  font-size: 35px !important;
}


// SHOW SPACES CONTACT OWNER
.btn-contact-owner {
  border-radius: 11px;
  margin-left: 110px;
  padding: 5px 38px;
  border: solid 2px;
}

// Card confirmation_reservations to process paiement

.stripe-button {
  background-image: linear-gradient(to right, #E47097, #F8A348);
  color: white;
  box-shadow: 0 0 20px #eee;
  transition: 0.9s;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 25px;
  vertical-align: middle;
  margin: 0 auto;
}

.card-paiement .stripe-button-el {
  background: none;
  border: none;
  box-shadow: none;
  overflow: visible;

  span {
    line-height: 1.5em;
    text-shadow: none;
    font-family: "Roboto", "Helvetica", "sans-serif" !important;
    box-shadow: none;
    background-image: -webkit-linear-gradient(left, #E47097, #F8A348);
    background-image: -o-linear-gradient(left, #E47097, #F8A348);
    background-image: linear-gradient(to right, #E47097, #F8A348);
    color: white;
    box-shadow: 0 0 20px #eee;
    transition: 0.9s;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 4px 50px;
    width: 199px;
    margin: 14px 80px;
    font-size: 16px;
  }
}

.card-paiement .stripe-button-el span:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

// Login as user or as a owner
.btn-nav-link-sign-in {
  padding: 3px 20px;
  color: white !important;
  background: #110F49;
  box-shadow: 6px 6px 0px #9BC9FF;
  border-radius: 12px;
  width: 179px;
  height: 57px;
  border: none;
}

.btn-nav-link-sign-in:hover i {
  border-radius: 22px;
  color: red !important;
}

.btn-nav-link-sign-in:hover a {
  border-radius: 22px;
  color: red!important;
}

.btn-nav-link-sign-in:hover {
  transform: translateY(7px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  background-color: white !important;
  color: red !important;
  font-size: bold !important;
}



.btn-nav-link{
color: #110F49 !important;
text-decoration: underline red;
}

// -----------bouton du footer --------------
.btn-nl-blue {
  background-color: #9BC8FA;
  border: 0px;
  width: 250px;
  padding: 7px 0px;
  border-radius: 5px;
}

.btn-nl-blue:hover {
  background-color: #9BC8FA;
  border: 0px;
  width: 250px;
}

