.btn-home-search {
  background: #fe3551;
  box-shadow: 3px 3px 0px #651336;
  border-radius: 30px;
  border: none;
  color: #080808;
  font-weight: 600;
}

.btn-outline-custom {
  color: black;
}

.btn-custom:hover {
  transform: translateY(-7px);
}

// SHOW SPACES CONTACT OWNER
.btn-contact-owner {
  border-radius: 11px;
  margin-left: 110px;
  padding: 5px 38px;
  border: solid 2px;
}

// Card confirmation_reservations to process paiement
.stripe-button {
  background-image: linear-gradient(to right, #e47097, #f8a348);
  color: white;
  box-shadow: 0 0 20px #eee;
  transition: 0.9s;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 25px;
  vertical-align: middle;
  margin: 0 auto;
}

.card-paiement .stripe-button-el {
  background: none;
  border: none;
  box-shadow: none;
  overflow: visible;

  span {
    line-height: 1.5em;
    text-shadow: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif' !important;
    box-shadow: none;
    background-image: -webkit-linear-gradient(left, #e47097, #f8a348);
    background-image: -o-linear-gradient(left, #e47097, #f8a348);
    background-image: linear-gradient(to right, #e47097, #f8a348);
    color: white;
    box-shadow: 0 0 20px #eee;
    transition: 0.9s;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 4px 50px;
    width: 199px;
    margin: 14px 80px;
    font-size: 16px;
    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      transform: translateY(-7px);
    }
  }
}

// Login as user or as a owner
.btn-nav-link-sign-in {
  padding: 3px 20px;
  color: white !important;
  background: #110f49;
  box-shadow: 6px 6px 0px #9bc9ff;
  border-radius: 12px !important;
  width: fit-content;
  height: 57px;
  border: none;
  &:hover {
    transform: translateY(3px);
    transition: 0.3s;
    a {
      border-radius: 22px;
      font-size: 900 !important;
    }
  }
}

.btn-nav-link {
  color: #110f49 !important;
  position: relative;
  z-index: 5;
  &:hover {
    text-decoration: none;
    font-weight: 500;
  }
}

.btn-nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0.2em;
  background-color: $lightblue;
  height: 8px;
  width: 90px;
  z-index: -1;
}

.btn-nav-link:hover::before {
  position: absolute;
  content: '';
  bottom: 0.2em;
  background-color: $lightblue;
  height: 8px;
  width: 30px;
  z-index: -1;
  transition: 0.3s;
}

// -----------bouton du footer --------------
.btn-nl-blue {
  background-color: $lightblue;
  border: 0px;
  width: 250px;
  padding: 7px 0px;
  border-radius: 5px;
}
// general btn
.action-btn {
  background-color: #110f49;
  color: #fff;
  padding: 8px 19px;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;

  a {
    text-decoration: none;
  }

  &:hover {
    transform: translateY(3px);
    transition: 0.3s;
  }
}
