// index loope
.search-button {
  border: none !important;
  background-color: #0000 !important;
}

.btn-home-search {
  background: #fe3551;
  box-shadow: 3px 3px 0px #651336;
  border-radius: 30px;
  border: none;
  color: #080808;
  font-weight: 600;
}

.btn-outline-custom {
  color: black;
}

.btn-custom:hover {
  transform: translateY(-7px);
}

// SHOW SPACES CONTACT OWNER
.btn-contact-owner {
  border-radius: 11px;
  margin-left: 110px;
  padding: 5px 38px;
  border: solid 2px;
}

// Card confirmation_reservations to process paiement
.stripe-button {
  transition: 0.9s;
  border-radius: 12px !important;
  width: 245px;
  margin: 14px 80px;
  font-size: 16px;
  padding: 12px 15px;
  color: #fff !important;
  background: #110f49 !important;
  box-shadow: 6px 6px 0px #9bc9ff;
  height: 57px;
  font-size: 20px !important;
}

.card-paiement .stripe-button-el {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  overflow: visible !important;

  &:focus {
    outline: none;
  }

  span {
    transition: 0.9s;
    border-radius: 12px !important;
    width: 245px;
    margin: 14px 80px;
    font-size: 16px;
    padding: 12px 15px;
    color: #fff !important;
    background: #110f49;
    box-shadow: 6px 6px 0px #9bc9ff;
    height: 57px;
    font-size: 20px !important;
    &:hover {
      transform: translateY(8px);
    }
  }
}

// Login as user or as a owner
.btn-nav-link-sign-in {
  padding: 3px 20px;
  color: white !important;
  background: #110f49;
  box-shadow: 6px 6px 0px #9bc9ff;
  border-radius: 12px !important;
  width: fit-content;
  height: 57px;
  border: none;
  &:hover {
    transform: translateY(3px);
    transition: 0.3s;
    a {
      border-radius: 22px;
      font-size: 900 !important;
    }
  }
}
// Buttons presents in the Navbar
.btn-nav-link {
  color: #110f49 !important;
  position: relative;
  z-index: 5;
  &:hover {
    text-decoration: none;
    font-weight: 500;
  }
}

.btn-nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0.2em;
  background-color: $lightblue;
  height: 8px;
  width: 90px;
  z-index: -1;
}

.btn-nav-link:hover::before {
  position: absolute;
  content: '';
  bottom: 0.2em;
  background-color: $lightblue;
  height: 8px;
  width: 30px;
  z-index: -1;
  transition: 0.3s;
}

// General Buttons
.action-btn {
  background-color: #110f49;
  color: #fff;
  width: fit-content;
  padding: 8px 19px;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 42px;
  margin: auto;

  a {
    text-decoration: none;
  }

  &:hover {
    transform: translateY(3px);
    transition: 0.3s;
  }
}
// btn-reservation
.btn-white-border {
  background-color: #110f49;
  border-radius: 12px;
  box-shadow: 6px 6px 0px #9bc9ff;
  height: 47px;
  color: white;
  text-align: center;
  padding: 7px;

  &:hover {
    color: white;
  }
}
