// SPACES #index
.contour {
  margin: 20px;
}

.content-spaces {
  padding-top: 40px;
  flex: 1;
}

.cards-spaces-container {
  grid-template-columns: 1fr 1fr 1fr;
  // flex-grow: 1;
  display: grid;
  grid-gap: 10px;
}

.card-space {
  border-radius: 5px;
  min-width: 300px;
  img {
    align-self: center;
    padding: 10px;
  }
}

.card-text {
  line-height: 20px;
  font-size: 12px;
}

.fa-star {
  color: $orange;
  padding-left: 5px;
}

.card-reviews-price {
  justify-content: space-between;
}

.card-reviews {
  color: $orange;
  font-weight: bold;
}

.card-price {
  font-weight: bold;
}

// USER Profile
.card-profile {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-photo {
  padding: 10px;
  border-bottom: solid 1px $medium-gray;
  height: 250px;
  justify-content: center;
}

.card-photo img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.profile-info {
  height: 100px;
}


// RESERVATIONS USER #index (Pauline Dussart)
.card-index-reservations-user {
  width: 600px;
  height: 190px;
}
h7 {
  padding-top: 16px;
  font-size: 14px;
}

.card-title-reservation{
  margin-top: 10px;
}

// add-cloudinary-carrierwave
// .cloudinary > img {
//   max-height: 200px;
//   max-width: 300px;
// object-fit: cover;
// }

