// SPACES #index
.contour {
  padding: 30px;
  background-color: #9BC8FA;

  p {
    font-size: 14px;
  }
}

.content-spaces {
  padding-top: 40px;
  flex: 1;

  .cards-spaces-container {
    display: flex;
    grid-gap: 8px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 65px !important;
    padding-left: 40px;

    .card-space {
      max-width: 290px;
      border-radius: 5px;
      margin: 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border: none;
      box-shadow: 4px 4px 0px #252A62;

      img {
        background-position: center;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .card-body {
        padding: 10px;
      }

      .card-body .text-description {
        word-wrap: break-word !important;
        width: 240px;
      }

      a.hover-animate-grow:hover {
        transform: translateY(-10px) !important;
        color: $primary !important;
      }
    }
  }
}


.fa-star {
  color: $orange;
  padding-right: 3px;
}

.card-reviews-price {
  justify-content: space-between;
}


.card-price {
  font-weight: bold;
}

// USER Profile
.card-profile {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-photo {
  padding: 10px;
  border-bottom: solid 1px $medium-gray;
  height: 250px;
  justify-content: center;
}

.card-photo img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.profile-info {
  height: 100px;
}


// RESERVATIONS USER #index (Pauline Dussart)
.card-index-reservations-user {
  width: 700px;
  height: 200px;
  margin: 3rem auto !important;
}

.card-title-reservation{
  margin-top: 10px;
}

// Amenities dans show spaces
.space-services p {
  margin: 0 auto;
}

// CARD PAIEMENT
.card-paiement {
  width: 430px;
  height: 600px;
  margin: 2rem auto !important;
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.3);
  padding: 0 35px;
}

.card-body-paiement {
  margin-top: -5px;
}

.card-paiement h4, h5 {
  margin-bottom: 0;
}

.card-paiement p {
  line-height: 1.5;
  margin-bottom: 0;
}

.border-bottom {
  margin-bottom: 5px;
}

.card-paiement .fas {
  font-size: 20px;
  background: -webkit-linear-gradient(#E47097, #F8A348);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h7 {
  padding-top: 16px;
  font-size: 14px;
}
// add-cloudinary-carrierwave
// .cloudinary > img {
//   max-height: 200px;
//   max-width: 300px;
// object-fit: cover;
// }

