.footer {
  background-color: #120F49;
  height: 400px;
  padding: 5px 40px;
  position: relative;
  width: 100%;
  bottom: 0; left: 0;
  font-size: 14px;
}

.footer p {
  color: white;
  text-align: center;
  line-height: 5px;
}

.footer h5 {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

.third_element {
  height: 50px;
}

.footer-links a {
  text-decoration: none;
  padding: 0px 10px;
}

.footer .fa-heart {
  color: #D23333;
  font-size: 15px;
  padding: 0 8px;
}


.footer .fab {
  color: white;
  text-align: center;
  line-height: 0.5;
  font-size: 16px;
}


.footer .fab:hover {
  color: #9BC8FA;
  font-size: 20px;
  transition: 0.5s;
}

.footer_about, .footer-links, .footer-copyright {
  margin-top: 10px;
}

.content_footer {
  margin-top: 40px;
}
