.footer {
  background-color: #120f49;
  color: white;
}

.footer .fa-heart {
  color: #d23333;
  font-size: 15px;
  padding: 0 8px;
}

.footer .fab {
  color: white;
  text-align: center;
  line-height: 0.5;
  font-size: 20px;
}

.footer .fab:hover {
  color: #9bc8fa;
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}
