.footer {
  background-color: #120F49;
  height: 420px;
  padding: 5px 40px;
  position: relative;
  width: 100%;
  bottom: 0; left: 0;
  font-size: 20px;
}

.first_element  {
  color: white;
}

.second_element .form-group {
  color: white;
}

.third_element {
  height: 50px;
}

.footer-links a {
  text-decoration: none;
  padding: 0px 10px;
}
.footer .fa-heart {
  color: #D23333;
  font-size: 20px;
  padding: 0 8px;
}
.footer p {
  color: white;
  text-align: center;
  line-height: 1;
}

.footer .fab {
  color: white;
  text-align: center;
  line-height: 0.5;
  font-size: 24px;
}

.footer i {
  color: white;
  font-size: 20px;
}

.footer_about, .footer-links, .footer-copyright {
  margin-top: 10px;
}

.content_footer {
  margin-top: 40px;
}
