// form design search-form
.space-search {
  color: #484848 !important;
  background: #ffffff;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 18px;
  border-color: #252a62 !important;
  box-shadow: 4px 4px 0px #252a62 !important;
  height: 55px;
  padding-left: 23px;
  font-size: 20px !important;
}

.form-control-home::placeholder {
  color: #484848 !important;
}

// Form design for devise -> login
.form-login,
.form-sign-up {
  padding: 10px 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white !important;
  border-radius: 15px !important;
  border: none;
  box-shadow: 6px 6px 0px #110f49 !important;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: #110f49;
    border-radius: 10px;
    color: white;
  }

  .form-control:focus {
    outline: none !important;
  }
}

// Form design spaces

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.form-space {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design spaces.new
.service-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.service-choice {
  background: #ececec;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.4;
  flex: 0 0 30%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: #f99a1b;
    color: white;
    opacity: 0.7;
  }
}

.hidden {
  display: none;
}

// Form design booking show space
.card-form-booking {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: white;

  .form-control {
    border: #110f49 2px solid !important;
    border-radius: 8px !important;
    box-shadow: 6px 6px 0px #9bc9ff !important;
    background-color: #fff !important;
    text-align: right;
  }
}

.card-form-booking p {
  margin: 0 auto;
}

.calcul-price p {
  margin: auto 0px;
}

.form-fill-height {
  min-height: calc(100vh - 186px);
  padding-top: 120px;
}

// ---------FORM FOOTER NEWSLETTER
.form-newsletter {
  border-radius: 7px !important;
}
