// form design search-form
.form-inline .form-control {
  width: 190px;
  margin-right: 15px;
  padding-left: 18px;
  color: #484848 !important;
  background: #ffffff;
  box-shadow: 4px 4px 0px #252a62;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.form-inline .form-control:focus {
  background: #ffffff;
  box-shadow: 4px 4px 0px #252a62;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.form-inline-no-border {
  border: none;
}

.form-inline-no-border:focus {
  border: none !important;
}

.form-control-border-blue {
  border-color: #252a62 !important;
}

.form-inline-index {
  top: 82px;
  background-color: #9bc8fa;
  width: 100%;
  z-index: 3;
  padding: 20px 40px;
  left: 0px;
  box-shadow: 0px 0px 2px 4px #9bc8fa;
}

.form-control-home::placeholder {
  color: #484848 !important;
}

// // Form design search sur home
// .form-inline .form-control-home{
//   width: 200px;
//   margin-right: 10px;
//   border: solid lightgrey 1px;
//   border-radius: 15px;
//   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
// }

// Form design for devise -> signup

// Form design for devise -> login
.form-login,
.form-sign-up {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: #6e609d;
    color: white;
  }
}

// Form design spaces

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.form-space {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design spaces.new
.service-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.service-choice {
  background: #ececec;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.4;
  flex: 0 0 30%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: #f99a1b;
    color: white;
    opacity: 0.7;
  }
}

.hidden {
  display: none;
}

// Form design booking show space
.card-form-booking {
  float: right;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 17em;
  border-radius: 12px;
  background-color: white;

  .form-control {
    border: #110f49 2px solid !important;
    border-radius: 8px !important;
    box-shadow: 6px 6px 0px #9bc9ff !important;
    background-color: #fff !important;
    text-align: right;
  }
}

.card-form-booking p {
  margin: 0 auto;
}

.calcul-price p {
  margin: auto 0px;
}

.form-fill-height {
  min-height: calc(100vh - 186px);
}

// ---------FORM FOOTER NEWSLETTER
.form-newsletter {
  border-radius: 7px !important;
}
