.form-inline-no-border {
  border-radius: 12px;
  box-shadow: 6px 6px 0px #110f49 !important;
  border: 1px solid #110f49;
  font-size: 16px;
  padding: 4px 15px;
  height: 47px;
  width: -webkit-fill-available;
}
