// SPACES #show ---> MAPBOX POPUP

.mapboxgl-popup {
  max-width: 11em;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px !important;
}

#map {
  border-radius: 10px !important;
  position: sticky;
  top: 0px;
  left: 70px;
  width: 22rem !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.no-sticky {
  border-radius: 5px !important;
  position: relative !important;
}
// --------------------------------
