// SPACES #show ---> MAPBOX POPUP

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px !important;
}

#map{
  border-radius: 5px !important;
  position: sticky;
  top: 70px;
}

.mapboxgl-ctrl-geocoder--input {
  border-radius: 5px !important;
}

// --------------------------------
