.navbar {
  img {
    width: 50px;
  }

  // COWORKSPACE TITLE
  .name-site {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #110f49;
  }
}

// pauline
.dropdown-menu {
  font-size: 0.8rem;
  width: 230px;

  p {
    margin-bottom: 0;
  }

  i {
    font-size: 16px;
    color: rgb(40, 40, 40);
  }

  .dropdown-item {
    display: inline !important;
    text-align: right;
    color: $primary !important;

    &:hover {
      background-color: transparent;
    }
  }

  .icon_navbar {
    color: $primary !important;
    font-size: 0.9rem;
  }

  .info_user {
    color: $primary !important;
  }
}

//pauline
.dropdown-menu.show {
  border-radius: 10px !important;
  box-shadow: 4px 4px 0px $primary;
  border-color: #252a62 !important;
}

// nav bar home
button.nav-item {
  display: flex;
  align-items: center;
  font-size: 16px;
}

a.nav-link {
  color: white;
  margin: 0 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .navbar {
    .name-site {
      display: none;
    }
  }
}

.navbar-collapse {
  flex-grow: 0;
}
