.navbar {
  img {
    width: 50px;
  }

  .name-site {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
  }
}

.nav {
  justify-content: space-between;
  background-color: none;
}


// pauline
.dropdown-menu {
  font-size: 0.8rem;
  width: 230px;

  p {
    margin-bottom: 0;
  }

  i {
    font-size: 16px;
    color: rgb(40, 40, 40 );
  }

  .dropdown-item {
    display: inline !important;
    text-align: right;
    color: $primary !important;
  }

  .icon_navbar {
    color: $primary !important;
    font-size: 0.9rem;
  }

  .info_user {
    color: $primary !important;
  }

  .dropdown-item-choice:hover {
    background-color: #F5F6FA;
  }

  .dropdown-item:hover {
    background-color: transparent;;
  }
}

//pauline
.dropdown-menu.show {
  border-radius: 10px !important;
  box-shadow: 4px 4px 0px $primary;
  border-color: #252A62 !important;
}

// navbar user connected
.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 5px 18px;
  font-size: 15px !important;
  margin-top: 4px;
  border-radius: 30px;
  background-color: $primary;
  margin-top: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: green;
  background-color: white;
  border-radius: 30px;
  padding: 8px 18px;
  margin-top: 4px;
  font-size: 15px !important;
  margin-top: 5px;
  border: solid $primary 2px;
  font-size: bold;
}

// nav bar home
button.nav-item {
  display: flex;
  align-items: center;
  font-size: 16px;
}

a.nav-link {
  color: white;
  margin: 0 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}


.big_container {

}






