.navbar .nav-home {
  justify-content: space-between;
  background-color: none;
}

.navbar img {
  width: 50px;
}

.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index:1000;
  background-color: rgb(240, 240, 240);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu i {
  font-size: 16px;
  color: rgb(40, 40, 40 );
}
.dropdown-item {
  display: inline !important;
  text-align: right;
}

a.nav-link {
  color: black;
  margin: 0 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 13px !important;
   margin-top: 4px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: $primary;
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 4px;
  font-size: 13px !important;
}

