// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap_variables';

// External libraries
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Your CSS partials
@import 'components/index';
@import 'pages/index';

#show-space,
#index,
.form-fill-height,
#index-resa,
.home_slogan {
  background-color: #9bc8fa;
}

#index {
  padding-top: 30px;
  margin-top: 85px;
}

p,
span,
ul {
  font-size: 16px !important;
}

p {
  margin-bottom: 0 !important;
}

li {
  margin: 0px !important;
}

h1 {
  color: $purple;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 26px !important;
}

h2 {
  font-weight: 900;
  font-size: 30px;
}

h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 0px;
}
